@font-face {
    font-family: 'Montserrat';
    src: url(montserrat/static/Montserrat-Light.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(montserrat/static/Montserrat-Bold.ttf);
    font-weight: bold;
}


html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-size: 20px;
}

a {
    color: #4D3AFF !important;
}

.btn {
    color: white !important;
    background-color: #4D3AFF !important;
    border-color: #4D3AFF !important;
    border-radius: 51px;
}

.btn:disabled {
    background-color: #828282 !important;
    border-color: #828282 !important;
    border-radius: 51px;
    cursor: initial;
}

.btn:hover {
    color: #fff !important;
    background-color: #4D3AFF !important;
    border-color: #4D3AFF !important;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: none;
}

.validation-message {
    color: red;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: -10px;
    max-width: 200px;
}

.blazored-modal-header {
    padding: 0 0 0.5rem 0 !important;
}

.blazored-modal {
    padding: 0.5rem !important;
}

.blazored-modal-close{
    margin: 0;
    padding: 0;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* Loader*/
.loader-container {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    height: 195px;
}

.sk-chase {
    width: 75px;
    height: 75px !important;
    position: relative;
    top: -180px;
    left: 18px;
    animation: sk-chase 2.5s infinite linear both;
    z-index: 10;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #4D3AFF;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {
    80%, 100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }

    100%, 0% {
        transform: scale(1.0);
    }
}

/* Login page*/

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.m-3 {
    margin: 0.5rem !important;
}

.blazored-modal-container{
    z-index: 10000;
}

/*MatBlazor*/
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
}
.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #4D3AFF;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #4D3AFF;
}
.mdc-theme--primary {
    color: #4D3AFF !important;
    color: var(--mdc-theme-primary, #6200ee) !important
}
.mat-text-field-input {
    font-family: 'Source Sans Pro', sans-serif;
}
.mdc-floating-label {
    font-family: 'Source Sans Pro', sans-serif;
}
.mdc-form-field {
    font-family: 'Source Sans Pro', sans-serif;
}
.mdc-checkbox {
    margin-top: -7px;
}
.mdc-text-field__input:autofill + .mdc-floating-label {
    transform: translateY(-106%) scale(0.75);
}

.mdc-select {
    max-width: 220px;
    top: -5px;
    margin-left: 20px;
}

.mdc-select__anchor {
    background-color: white !important;
}

@media (max-width: 840px) {
    .mdc-select {
        margin-left: 0px;
    }
}

.course-description {
    width: 300px !important;
    margin-left: 20px;
}

.skeleton {  
    margin: auto;
    margin-bottom: 10px;
}