@import "../Variables.scss";

.about-page {
    display: flex;
    flex-direction: column;

    .top-panel {
        display: flex;
        justify-content: space-between;
        margin: 0 100px 0 100px;

        img {
            cursor: pointer;
            margin: 10px;
        }
    }

    .ctas {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    h1 {
        padding-top: 50px;
        text-align: center;
        color: $blue;
    }

    .spaced-repetition {
        img {
            display: normal;
        }
    }

    .change-order {
        order: initial;

        .right {
            text-align: right;
        }
    }

    .final {
        background: $grey-background;
        padding: 0 100px 0 100px;
        margin: 0 0 20px 0 !important;
    }

    .about-container {
        display: flex;
        flex-direction: row;
        margin: 100px;
        margin-top: 0;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            padding: 20px;

            a {
                font-size: 18px;
                font-weight: 700;
                text-align: center;
                color: white !important;
                background: $blue;
                padding: 10px;
                border-radius: 51px;
                text-decoration: none;
                max-width: 200px;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 1000px){
    .about-page {
        .spaced-repetition {
            img {
                display: none;
            }
        }

        .top-panel {
            flex-direction: column;
            align-items: center;
            position: -webkit-sticky;
            position: sticky;
            top: -80px;
            margin: 0;
            padding-bottom: 12px;
            background: white;
        }

        .ctas {
            margin-top: 0px;
            margin-right: 0px;
        }
    }
}

@media (max-width: 600px) {
    .about-page {
        text-align: center;

        .about-container {
            flex-direction: column;
            margin: 10px;
            margin-top: 0px;

            div {
                width: 100%;
            }
        }

        .change-order {
            > div:first-of-type {
                order: 2;
            }

            > div:last-of-type {
                order: 1;
            }

            .right {
                text-align: center;
            }
        }

        .final {
            padding: 0 10px 0 10px;

            a {
                margin: auto;
            }
        }
    }
}