@page "/about"
@layout MainLayout

<div class="about-page">
    <h1>What is WordTester?</h1>
    <div class="about-container brown">
        <div>
            <h3>It is a spaced repetition system</h3>
            <p>WordTester uses spaced repetition - thanks to it you repeat new words more often and older words less frequently. It is proved that this kind of repetition maximizes your learning rate!</p>
        </div>
        <div>
            <img src="/assets/spacedRepetition.png" />
        </div>
    </div>
    <div class="about-container yellow">
        <div>
            <img src="/assets/context.png" />
        </div>
        <div>
            <h3>It is focused on the context</h3>
            <p>All words are required to have specified both definition and example of use. During the repetition, you will exercise how to use the word - it has a great impact on your memorization and ability to recall the given word fast.</p>
        </div>
    </div>
    <div class="about-container brown">
        <div>
            <h3>It is free and open source</h3>
            <p>You don't have to pay anything. All features are available for everyone without any fee. What is more, it is an open-source project - you have access to the source code!</p>
        </div>
        <div>
            <img src="/assets/free.svg" />
        </div>
    </div>
    <div class="about-container yellow">
        <div>
            <h3>You are convinced to WordTester, aren't you?</h3>
            <p>Let's start learning in a modern and effective way - create your account!</p>
        </div>
        <div>
            <a href="/register">Register</a>
        </div>
    </div>
</div>


@code {

}
