@import "../Variables.scss";

.about-page {
    display: flex;
    flex-direction: column;

    .top-panel {
        display: flex;
        justify-content: space-between;
        margin: 0 100px 0 100px;

        img {
            cursor: pointer;
            margin: 10px;
        }
    }

    .ctas {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    h1 {
        padding-top: 50px;
        text-align: center;
        color: $main-color;
    }

    .spaced-repetition {
        img {
            display: normal;
        }
    }

    .about-container {
        display: flex;
        flex-direction: row;
        margin: 100px;
        margin-top: 0;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            padding: 20px;

            a {
                text-align: center;
                font-size: 35px;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 1000px){
    .about-page {
        .spaced-repetition {
            img {
                display: none;
            }
        }

        .top-panel {
            flex-direction: column;
            align-items: center;
            position: -webkit-sticky;
            position: sticky;
            top: -80px;
            width: 100vw;
            margin: 0;
            padding-bottom: 12px;
        }

        .ctas {
            margin-top: 0px;
            margin-right: 0px;
        }
    }
}

@media (max-width: 600px) {
    .about-page {
        .about-container {
            flex-direction: column;
            margin: 50px;
            margin-top: 0px;

            div {
                width: 100%;
            }
        }
    }
}