.course-grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px auto;
  top: 56px;
  min-height: calc(100vh - 150px); }
  .course-grid-container .course-details {
    grid-row: 1;
    grid-column: 1;
    margin: 20px 10px 20px 20px; }
    .course-grid-container .course-details .course-form {
      display: flex;
      align-items: center;
      padding: 20px 20px 20px 0px; }
      .course-grid-container .course-details .course-form .course-form-element-container {
        display: flex;
        flex-direction: column;
        margin: 5px;
        align-items: center; }
      .course-grid-container .course-details .course-form ::deep label {
        width: 220px; }
      .course-grid-container .course-details .course-form button {
        margin: 10px;
        width: 200px; }
  .course-grid-container .course-main {
    grid-row: 2;
    grid-column: 1;
    margin: 20px; }
    .course-grid-container .course-main .panel {
      display: flex;
      flex-direction: column;
      width: 300px; }
      .course-grid-container .course-main .panel .word-title {
        color: white; }
    .course-grid-container .course-main .course-words {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      width: auto;
      height: auto;
      padding: 10px; }
      .course-grid-container .course-main .course-words .course-word {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        background: #e9e7ff;
        color: #4D3AFF;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        border: solid 1px;
        cursor: pointer; }
      .course-grid-container .course-main .course-words .course-word:first-of-type {
        background: #4D3AFF;
        color: white;
        border: none; }

@media (max-width: 840px) {
  .course-grid-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto; }
    .course-grid-container .course-details {
      grid-row: 1;
      grid-column: 1;
      margin: 20px 10vw 10px 10vw;
      text-align: center; }
      .course-grid-container .course-details .course-form {
        flex-direction: column; }
    .course-grid-container .course-main {
      grid-row: 2;
      grid-column: 1;
      justify-content: center;
      margin: 0px 10px 20px 10px; }
      .course-grid-container .course-main .panel {
        align-items: center;
        width: auto; } }

@media (max-width: 600px) {
  .course-grid-container .course-details {
    margin: 20px 10px 10px 10px; } }
