.background {
  background: url("../assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0; }

.info {
  height: 100px;
  width: 100%;
  background-color: #e3d18a;
  font-size: 25px;
  text-align: right;
  padding: 10px; }

.info p {
  margin: 0px; }

.title {
  font-size: 46px;
  color: #e3d18a;
  margin-right: 20px; }

.container {
  margin-right: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 20vw;
  margin-left: 0px;
  padding-left: 0px; }

.cta {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: black !important;
  font-size: 20px;
  background: #e3d18a;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin: 0px 5px 0px 5px;
  border-width: 0px; }

.cta:hover {
  background: #85603f;
  text-decoration: none;
  color: white; }

.ctas {
  margin-top: 10px; }

@media (max-width: 640.98px) {
  .top-row:not(.auth) {
    display: none; }
  .top-row.auth {
    justify-content: space-between; }
  .top-row a, .top-row .btn-link {
    margin-left: 0; }
  .background {
    align-items: center; }
  .title {
    margin-right: 0px; }
  .info {
    height: 100px;
    width: 100%;
    font-size: 20px;
    padding: 20px; } }

@media (max-width: 400px) {
  .info {
    font-size: 16px;
    height: 70px;
    padding: 10px;
    text-align: center; }
  .container {
    align-items: center;
    padding-right: 0px; } }
