.welcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center; }
  .welcomeContainer .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .welcomeContainer footer a {
    text-decoration: underline;
    color: #4D3AFF !important; }
  .welcomeContainer footer p {
    color: #828282;
    font-weight: 300;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    width: 90vw; }
  .welcomeContainer .ctas {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px; }
  .welcomeContainer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0; }
    .welcomeContainer .content img {
      width: 40vw;
      margin-top: 40px; }
    .welcomeContainer .content p {
      width: 60vw;
      margin-top: 20px;
      margin-bottom: 0; }
    .welcomeContainer .content a {
      text-decoration: underline;
      color: #4D3AFF !important; }
    .welcomeContainer .content p, .welcomeContainer .content a {
      font-size: 30px;
      font-weight: 500; }
    .welcomeContainer .content h1 {
      font-size: 64px;
      font-weight: 900;
      color: #4D3AFF; }

@media (max-width: 1000px) {
  .welcomeContainer .content img {
    width: 80vw; }
  .welcomeContainer .content p, .welcomeContainer .content a {
    width: 90vw;
    font-size: 20px; }
  .welcomeContainer .ctas {
    position: relative;
    margin-bottom: 25px;
    right: 0; } }
