@* Copyright (C) 2021  Kamil Bugno
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see https://www.gnu.org/licenses/.*@

<div class="welcomeContainer">
    <div class="mainContent">
        <div class="ctas">
            <CtasForNewUser />
        </div>
        <img src="/assets/welcomeToWordTester.png"/>
        <div class="content">
            <h1>
                WORD TESTER
            </h1>
            <img src="/assets/welcome.png" />
            <p>Create your word repository, use modern flashcards, and verify your knowledge!</p>
            <a href="/about">learn more</a>
        </div>
    </div>
        <footer>
            <p>This website uses cookies. By using this Site you accept <a href="/privacy" target="_blank">the use of cookies</a></p>
        </footer>
    </div>