@import "../Variables.scss";

.welcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    text-align: center;

    .mainContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        a {
            text-decoration: underline;
            color: $blue !important;
        }

        p {
            color: $grey;
            font-weight: 300;
            font-size: 16px;
            margin-top: 20px;
            text-align: center;
            width: 90vw;
        }
    }

    .ctas {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;

        img {
            width: 40vw;
            margin-top: 40px
        }

        p {
            width: 60vw;
            margin-top: 20px;
            margin-bottom: 0;
        }

        a {
            text-decoration: underline;
            color: $blue !important;
        }

        p, a {
            font-size: 30px;
            font-weight: 500;
        }

        h1 {
            font-size: 64px;
            font-weight: 900;
            color: $blue;
        }
    }
}

@media (max-width: 1000px) {
    .welcomeContainer {
        .content {
            img {
                width: 80vw;
            }

            p, a {
                width: 90vw;
                font-size: 20px;
            }
        }

        .ctas {
            position: relative;
            margin-bottom: 25px;
            right: 0;
        }
    }
}
