<footer>
    <p>Copyright © 2021 <a href="https://kamilbugno.com" target="_blank">Kamil Bugno</a> | <a href="/terms" target="_blank">Terms</a> & <a href="/privacy" target="_blank">Privacy</a> | Licensed <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GNU GPLv3</a> | <a href="https://github.com/KamilBugnoKrk/WordTester" target="_blank">Source code</a> | Made with ♥️ in Poland </p>
</footer>