@layout MainLayout
@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<AuthorizeView>
    <Authorized>
        @{navigationManager.NavigateTo("/");};
    </Authorized>
    <NotAuthorized>
        <div class="content">
            <div class="top-panel">
                <img src="/assets/logo.png" @onclick="@onLogoClick" />
                <div class="ctas"><CtasForNewUser /></div>
            </div>
            @Body
            <Footer />
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    void onLogoClick()
    {
        navigationManager.NavigateTo("");
    }
}

