.top-panel {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 100px;
  border-bottom: black solid 1px; }
  .top-panel > div {
    display: flex;
    align-items: center; }
  .top-panel img {
    cursor: pointer;
    margin: 10px; }
  .top-panel a:last-of-type {
    color: #828282 !important; }
  .top-panel a:first-of-type {
    color: #4D3AFF; }
  .top-panel a {
    cursor: pointer;
    margin: 10px; }
  .top-panel a:hover {
    text-decoration: underline; }

@media (max-width: 750px) {
  .top-panel {
    justify-content: center; }
    .top-panel > img {
      display: none; } }
