@* Copyright (C) 2022  Kamil Bugno
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.*@

@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject IdentityAuthenticationStateProvider authStateProvider


<AuthorizeView>
    <Authorizing>
        Authorizing...
    </Authorizing>
    <Authorized>
        @*Show the menu and the rest of the body*@
        <div class="top-panel">
            <img src="/assets/logo.png" @onclick="onLogoClick" />
            <div>
                <a href="/">Dashboard</a>
                <a @onclick="@LogoutClick">Logout</a>
            </div>
        </div>
        @Body
        <Footer/>
    </Authorized>
    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>


@code{
    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }

    void onLogoClick()
    {
        navigationManager.NavigateTo("");
    }
}