.multiple-option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4D3AFF;
  padding: 1em 3em;
  text-align: center; }
  .multiple-option-container h2 {
    margin: 0 10px 0 10px; }
  .multiple-option-container .small {
    font-size: 30px; }
  .multiple-option-container .smaller {
    font-size: 28px; }
  .multiple-option-container .smallest {
    font-size: 26px; }
  .multiple-option-container .response-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px; }
    .multiple-option-container .response-container .response-tile {
      position: relative;
      background-color: #4D3AFF;
      color: #85603f;
      margin: 10px;
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      padding: 10px;
      cursor: pointer; }
      .multiple-option-container .response-container .response-tile p {
        text-align: center;
        margin-bottom: 0;
        word-break: break-word; }
      .multiple-option-container .response-container .response-tile div {
        position: absolute;
        top: -2px;
        left: 10px; }
      .multiple-option-container .response-container .response-tile span {
        border: 1px solid #85603f;
        border-radius: 4px;
        padding: 10px;
        position: absolute;
        top: 5px;
        left: 5px;
        height: 30px; }
      .multiple-option-container .response-container .response-tile .small {
        font-size: 25px; }
      .multiple-option-container .response-container .response-tile .smaller {
        font-size: 21px; }
      .multiple-option-container .response-container .response-tile .smallest {
        font-size: 18px; }

@media (max-width: 800px) {
  .multiple-option-container .response-container .response-tile {
    width: 160px;
    height: 160px;
    font-size: 26px; }
    .multiple-option-container .response-container .response-tile span {
      height: 25px; }
    .multiple-option-container .response-container .response-tile .small {
      font-size: 21px; }
    .multiple-option-container .response-container .response-tile .smaller {
      font-size: 17px; }
    .multiple-option-container .response-container .response-tile .smallest {
      font-size: 15px; } }

@media (max-width: 680px) {
  .multiple-option-container {
    padding: 1em 0em; }
    .multiple-option-container .response-container .response-tile {
      width: 140px;
      height: 140px;
      font-size: 22px; }
      .multiple-option-container .response-container .response-tile span {
        height: 10px; }
      .multiple-option-container .response-container .response-tile span, .multiple-option-container .response-container .response-tile div {
        display: none; }
      .multiple-option-container .response-container .response-tile .small {
        font-size: 17px; }
      .multiple-option-container .response-container .response-tile .smaller {
        font-size: 13px; }
      .multiple-option-container .response-container .response-tile .smallest {
        font-size: 11px; } }
