@* Copyright (C) 2021  Kamil Bugno
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.*@

@inject ILearningApi learningApi
@implements IDisposable
@inject HotKeys HotKeys

<div class="open-container">
    <div @onclick="Rerender">
        <h2 class="@GetStyle(Question)">@Question
        @if (!string.IsNullOrEmpty(Audio))
        {
            <i class="far fa-play-circle"></i>
        }
        </h2>
    </div>
    <audio id="audio" src="data:audio/wav;base64,@Audio" controls autoplay>
        <source id="source" src="data:audio/wav;base64,@Audio" type="audio/wav" />
    </audio>
    @if (!string.IsNullOrEmpty(Pronunciation))
    {
        <p>[@Pronunciation]</p>
    }
    else
    {
        <p></p>
    }

    <input @bind="userResponse" autofocus placeholder="@GetPlaceholder()" />
    <button @onclick="@SendResponse" class="btn btn-lg btn-primary">Next</button>
</div>

@code {
    [Parameter]
    public string Question { get; set; }
    [Parameter]
    public string Pronunciation { get; set; }
    [Parameter]
    public RepetitionType RepetitionType { get; set; }
    [Parameter]
    public EventCallback<string> OnClick { get; set; }
    [Parameter]
    public string Audio { get; set; }

    private string userResponse = string.Empty;

    HotKeysContext HotKeysContext;

    private string GetStyle(string input)
    {
        if (input.Length >= 65) return "smallest";
        if (input.Length >= 45) return "smaller";
        if (input.Length >= 25) return "small";
        return string.Empty;
    }

    protected override void OnInitialized()
    {
        this.HotKeysContext = this.HotKeys.CreateContext()
          .Add(ModKeys.None, Keys.Enter, SendResponse);
    }

    private async Task SendResponse()
    {
        var responseToSend = userResponse;
        userResponse = string.Empty;
        Audio = string.Empty;
        await OnClick.InvokeAsync(responseToSend);
    }

    private void Rerender()
    {
        Audio = Audio + " ";
    }

    private string GetPlaceholder()
    {
        if (RepetitionType == RepetitionType.FromOriginalToTranslatedOpen ||
           RepetitionType == RepetitionType.FromExampleToTranslatedOpen)
        {
            return "Translated word";
        }
        else if (RepetitionType == RepetitionType.FromDefinitionToOriginalOpen ||
            RepetitionType == RepetitionType.FromTranslatedToOriginalOpen)
        {
            return "Original word";
        }
        return string.Empty;
    }

    public void Dispose()
    {
        this.HotKeysContext.Dispose();
    }
}
